[submodule ".config/nvim/bundle/airline"]
	path = .config/nvim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".config/nvim/bundle/dracula"]
	path = .config/nvim/bundle/dracula
	url = https://github.com/dracula/vim.git
[submodule ".config/nvim/bundle/fugitive"]
	path = .config/nvim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/bundle/gitgutter"]
	path = .config/nvim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".config/nvim/bundle/sensible"]
	path = .config/nvim/bundle/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".config/nvim/bundle/surround"]
	path = .config/nvim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/bundle/tagbar"]
	path = .config/nvim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".config/nvim/bundle/promptline"]
	path = .config/nvim/bundle/promptline
	url = https://github.com/edkolev/promptline.vim.git
